<div class="modal" id="modal-gallery" aria-hidden="true" aria-labelledby="gallery-title">
    <div class="modal-content">
        <div class="modal-nav">
            <nav>   
                <button class="back-btn" id="back-to-gallery" aria-label="Retour à la galerie">
                    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                </button>
                <button class="close-btn" id="btn-close-gallery" aria-label="Fermer la galerie">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>    
            </nav>
        </div>
        <div class="modal-title">
            <h2 id="gallery-title">Galerie photo</h2>
        </div>
        <div class="modal-gallery-grid" id="modal-gallery-grid">
            <!-- Contenu généré dynamiquement -->
        </div>
        <hr class="modal-divider">
        <button class="btn-add-photo" id="btn-switch-to-add">Ajouter une photo</button>
    </div>
</div>